.box {
  position: absolute;
  display: block;
  height: 720px;
  width: 1280px;
  border: 9px solid #171717;
  z-index: 11;
  pointer-events: none;
}

.container {
  z-index: 14;
  -webkit-app-region: no-drag;
}
